.idea/
__pycache__/
.DS_Store
/html/
build/
dist/
Pyut.build/
Pyut.dist/
/pyoxidizer-pyut/
/.eggs/
UNKNOWN.egg-info
/Python-3.7.3/
/venv-pyenv-3.7.3/
/venv-pyenv-3.8.2/
/venv-Python-3.7.3
/venv-nuitka/
/site/
/docs/
/pyut.log
pyutHistory*
*.log
*.put
*.dat
*.put copy
/BaseSave.xml
junk*.*
