.idea/
__pycache__/
.DS_Store
/html/
build/
dist/
Pyut.build/
Pyut.dist/
/pyoxidizer-pyut/
/.eggs/
UNKNOWN.egg-info
/venv-pyenv-3.9.0/
/venv-pyenv-3.8.5-alternate/
/site/
/docs/
/pyut.log
pyutHistory*
*.log
*.put
*.dat
*.put copy
/BaseSave.xml
junk*.*
