.idea/
__pycache__/
.DS_Store
/html/
build/
dist/
pyut.egg-info
/pyenv-3.10.10/
/site/
/docs/
/pyut.log
pyutHistory*
*.log
*.dat
*.put copy
/BaseSave.xml
junk*.*
/.mypy_cache
/pyut.app/
.envrc
.python-version
