wheel==0.42.0
setuptools==69.0.3

# the following necessary when building the
# application with py2App
chardet==5.2.0
PyGithub==2.1.1
Deprecated==1.2.14

py2app==0.28.6
buildlackey==1.6.3
versionoverlord==1.2.0

html-testRunner~=1.2.1
mypy==1.8.0
mypy-extensions==1.0.0
types-Deprecated==1.2.9.20240106
types-setuptools==69.0.0.20240115
typing_extensions==4.9.0

wxPython==4.2.1
codeallybasic==1.1.0
codeallyadvanced==1.1.0
pyutmodelv2==2.1.0
ogl==2.1.5
oglio==2.1.5
pyutplugins==2.1.10