antlr4-python3-runtime==4.8
epr==0.25
fpdf2==2.0.5
html-testRunner==1.2.1
networkx==2.5
orthogonal==1.1.5
py2app==0.22
pygmlparser==1.0.0
pyumldiagrams==2.0.2
setuptools==50.3.0
wxPython==4.1.0
xmlschema==1.2.5
