wheel~=0.37.1
setuptools==65.5.0

PyGithub==1.55
Deprecated==1.2.13

pyut2xml==0.1.1
epr2md==0.1.2
traviscli==0.3.2
pkgversions==0.2.2
py2app~=0.28.2

html-testRunner~=1.2.1
mypy==0.982
mypy-extensions==0.4.3
types-Deprecated==1.2.9
types-setuptools==65.5.0.1
typing_extensions==4.4.0

wxPython==4.2.0
pyutmodel==1.1.0
ogl==0.60.5
oglio==0.5.7
pyutplugincore==0.5.6